ChallengeApp/Challenge_C#.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="vehicle">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="motor">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="power" type="xs:unsignedShort" />
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="wheels">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="wheel">
                      <xs:complexType>
                        <xs:attribute name="size" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="pressure" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>